body {background: #f6f6f6;}
.talkdetail{padding: 0 30upx;margin-bottom: 100upx;}
.displayflex,.car-info .right p,.txt-ul li,.van-swipe-item{display: -webkit-box;display: -moz-box;display: -ms-flexbox;display: -weblit-flex;display: flex;align-items: center;}
.txt-yellow{color: #2d8afe;}
.clear:after{content:"\0020"; display:block; height:0; clear:both; visibility:hidden;}
.clear{zoom:1;}
/* 车辆信息 */
.car-info{box-shadow: 3upx 3upx 6upx #aaa;margin-top: 20upx;background: #fff;border-radius: 6upx;padding: 30upx 20upx;display: -webkit-box;display: -moz-box;display: -ms-flexbox;display: -weblit-flex;display: flex;}
.car-info .left{position: relative;height: 108upx;}
.car-info .left>image{
	width: 100upx;
	height: 100upx;
	border-radius:50% ;
}
.talk-head-image{height: 100upx;width: 100upx;border-radius: 50%;border: 1upx solid #ccc;}
.car-info .right{flex: 1;padding-left: 20upx;font-size: 28upx;}
.car-info .right p{margin-top: 10upx;color: #5a5b66;}
.car-info .name{font-size: 32upx;color: #000;margin-bottom: 4upx;}
.car-info .right .txt-yellow {margin-left: 20upx;}
.icon{display: block;margin-right: 10upx;width: 30upx;height: 30upx;background: url(http://tb.jytat.net/hfive/img/statistics_sprite_2.png?2) 0 0/auto 30upx no-repeat;}
.car-info .right .ic1{background-position: -30upx 4upx;}
.car-info .right .ic2{background-position: -60upx 4upx;}
.car-info .right .ic3{background-position: -150upx 4upx;}
/* 详情事故 */
.de-title{color: #2d8afe;font-size: 40upx;margin: 40upx 0 26upx;}
.ic-location{background-position: 0upx 4upx;}
.time-p{font-size: 24upx;}
.car-item{margin-top: 10upx;padding-left: 20upx;position: relative;font-size: 28upx;}
.time-line {position: absolute;top: 0;left: 14upx;margin-left: -1upx;width: 2upx;height: 100%;background-color: #ddd;}
.time-line:before {content: "";position: absolute;top: 0;left: -0.1493rem;width: 14upx;height: 14upx;margin-left: 1upx;background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAIAAACQKrqGAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAA3FpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMy1jMDExIDY2LjE0NTY2MSwgMjAxMi8wMi8wNi0xNDo1NjoyNyAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wTU09Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9tbS8iIHhtbG5zOnN0UmVmPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvc1R5cGUvUmVzb3VyY2VSZWYjIiB4bWxuczp4bXA9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC8iIHhtcE1NOk9yaWdpbmFsRG9jdW1lbnRJRD0ieG1wLmRpZDphNGZhZjUyOS1jNmE3LWE5NDMtOGVjMS0wNWZhMTRjOGE1NTciIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6MENBQ0VGMkI0REQxMTFFODhFOEFDQTA5NkI0RTY1N0QiIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6MENBQ0VGMkE0REQxMTFFODhFOEFDQTA5NkI0RTY1N0QiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENDIChXaW5kb3dzKSI+IDx4bXBNTTpEZXJpdmVkRnJvbSBzdFJlZjppbnN0YW5jZUlEPSJ4bXAuaWlkOjBlZTY2OTY4LTc2NTAtOTE0OC04NjM5LTI0MWVmNWY1MDg2ZSIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDphNGZhZjUyOS1jNmE3LWE5NDMtOGVjMS0wNWZhMTRjOGE1NTciLz4gPC9yZGY6RGVzY3JpcHRpb24+IDwvcmRmOlJERj4gPC94OnhtcG1ldGE+IDw/eHBhY2tldCBlbmQ9InIiPz5zQ792AAABEElEQVR42oySu06EQBSGmYEACQ0Vj7KJu4nWmuhG40t6KbTdWKwFmuyj0AAFCSQCfswfJ0Qb/4KcyzfMuYxp2zZwmqap67q+7zFwwzBMkiTLMmutACMUommaxTcm+NE8z3zzPE/TFMN6Dsg6hU6yCZICWFCuEyc0WkmoaLCI+nSvS9iHp5fy80Rkd7a5v7shCEQlYNEwDDrKpY/Pr4e3owrFiOP4dn8FR5Ya7DiO+isqP07BSsf3UnHNxwb/1tKv5oJ22806d3G+VVxjjpgzJeNTCX1g+Lb215cERYOZuq6rqvLD4rSK02G1j4qiWObMPuST+FrJcwBW+2Vvoicn/ySE+sWav8/FP4Nfz+VbgAEACJjXTDCTZ+0AAAAASUVORK5CYII=) center/100% 100% no-repeat;}
.item-cont{background: #fff;border-radius: 6upx; overflow: hidden;padding: 30upx;line-height: 1.2;}
.txt-describe{margin-top: 10upx;}
.image-ul{margin-left: -30upx;}
.image-ul li{width: 176.25upx;height: 176.25upx;background: #ccc;float: left;border-radius: 7upx;margin: 30upx 0 0 30upx;overflow: hidden;}
.image-ul li view{width: 100%;height:0;padding-bottom: 100%;overflow: hidden;position: relative;}
.image-ul li image{position: absolute;top: 0;left: 0;right: 0;bottom: 0;width: 100%;height: 100%;}
/* 详情定损 */
.head{margin-bottom: 46upx;}
.head image{width: 60upx;height: 60upx;border-radius: 50%;margin-right: 20upx;}
.head .icon-V{width: 30upx;height: 30upx;margin-left: 5upx;}
.font16{font-size: 32upx;color: #3e486d;}
.txt-ul li{margin-top: 28upx;align-items: normal;color: #5a5b66;}
.point{display: inline-block;width: 16upx;height: 16upx;margin-right: 20upx;background: #898b9f;background: linear-gradient(135deg,#b1b4d0,#5a5b66);border-radius: 2upx;margin-top: 8upx;}
.situation{min-width: 112upx;}
.txt-detail{flex: 1;margin-left: 24upx;}
.p1{background: #2d8afe;}
.p2{background: #ffcc5b;background: linear-gradient(135deg,#ffe285,#2d8afe);}
.p3{background: #7feeb4;background: linear-gradient(135deg,#9bf5c5,#57e399);}
/* 图片放大 */
.windbg{position: fixed;top:0;left: 0;width: 100%;height: 100%;background: rgb(0,0,0,0.5);z-index: 99;}
.my-swipe{height:100%;}
.van-swipe__indicator{width: 20upx;height: 20upx;}
/* 车主评价 */
.star-box .star{display: block;width: 30upx;height: 30upx;margin-right: 6upx;background: url(http://tb.jytat.net/hfive/image/sprite_star_1.png) 0 -90upx/30upx auto no-repeat;}
.star-box p:last-child{margin-left: 20upx;}
.evaluate-txt{line-height: 1.8;}
.evaluate span{display: inline-block;line-height: 1.5;padding:6upx 8upx;margin: 20upx 20upx 0 0;background: #f36c12;color: #fff;}

